.app {
  height: 100vh;
  display: flex;
  background-color: #020230;
  color: white;
}
.main {
  width: 75%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #020230),
    url('./assets/bg.jpg');
  display: flex;
  flex-direction: column;
}
.top {
  height: 50%;
  position: relative;
}
.timer {
  border-radius: 50%;
  border: 5px solid white;
  height: 70px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  bottom: 10px;
  left: 80px;
}
.bottom {
  height: 50%;
}
.pyramid {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.moneyList {
  width: 100%;
  list-style: none;
  padding: 20px;
}
.moneyList-item {
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
}

.moneyList-item.active {
  background-color: teal;
}
.moneyList-itemNumber {
  font-size: 18px;
  font-weight: 100;
  width: 25%;
}
.moneyList-itemAmount {
  font-size: 20px;
  font-weight: 300;
}
.stopText {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
